extends ../layout.pug

block main
    section#actions.page-section
        .container
            .text-center
                h3.section-subheading Храм святого первоверховного апостола Петра в Веселом Поселке
            .row 
                .col-lg-6.mb-5
                    img.w-100.shadow(src='assets/img/hram-1.jpeg' alt='...')                   
                .col-lg-6.px-5
                    p
                        b Адрес:
                        |  193318, г.Санкт-Петербург, Невский район, Искровский пр. д.11

                    p 
                        b Настоятель: 
                        |  иерей Димитрий Малиновский

                    p 
                        b Контакты:
                        br 
                        |  Телефон: +7 812 442-81-68, 
                        br 
                        | E-mail: mail@petrovhram.ru

                    p 
                        b Сайт:
                        a(href='https://petrovhram.ru/' target='_blunk')  petrovhram.ru
                        br 
                        b Социальные сети:   
                        a(href='https://vk.com/club32199535' target='_blunk')  vk.com/club32199535
                        br
                        b Глобус митрополии:   
                        a(href='https://globus.aquaviva.ru/khram-sv-pervoverkh-ap-petra-v-veselom-poselke' target='_blunk')  globus.aquaviva.ru


                    p Целью работы храма является объединение православных христиан района для совместной деятельности в области различных видов служения: молодежного, социального, миссионерского, а также катехизации. 