extends ../layout.pug

block main
    section.page-section
        .container
            .text-center
                h3.section-subheading Храмы благочиния
            .row.text-center
                .col-lg-4.col-md-6.d-flex
                    a.card(href='/list_item.html')
                        img.card-img-top(src='assets/img/hram-1.jpeg' alt='...')
                        .card-body.d-flex.justify-content-center.align-items-center
                            .card-title Храм св. первоверх. ап. Петра в Веселом Поселке 
                .col-lg-4.col-md-6.d-flex 
                    a.card(href='/list_item.html')
                        img.card-img-top(src='assets/img/hram-4.webp' alt='...')
                        .card-body.d-flex.justify-content-center.align-items-center
                            .card-title Архиерейское подворье храма Святой Троицы на Октябрьской набережной
                .col-lg-4.col-md-6.d-flex 
                    a.card(href='/list_item.html')
                        img.card-img-top(src='assets/img/hram-6.jpg' alt='...')
                        .card-body.d-flex.justify-content-center.align-items-center
                            .card-title Храм Святой Троицы «Кулич и Пасха»
                .col-lg-4.col-md-6.d-flex
                    a.card(href='/list_item.html')
                        img.card-img-top(src='assets/img/hram-3.jpg' alt='...')
                        .card-body.d-flex.justify-content-center.align-items-center
                            .card-title Храм Рождества Христова на улице Коллонтай
                .col-lg-4.col-md-6.d-flex 
                    a.card(href='/list_item.html')
                        img.card-img-top(src='assets/img/hram-2.jpg' alt='...')
                        .card-body.d-flex.justify-content-center.align-items-center
                            .card-title Храм в честь иконы Божией Матери «Всех скорбящих Радосте»
                .col-lg-4.col-md-6.d-flex 
                    a.card(href='/list_item.html')
                        img.card-img-top(src='assets/img/hram-5.jpg' alt='...')
                        .card-body.d-flex.justify-content-center.align-items-center
                            .card-title Храм Рождества Пресвятой Богородицы в Рыбацком
            .d-flex.justify-content-center   
                a.btn.btn-primary.btn-xl(href='#')
                    |Все храмы
