extends ../layout.pug

block main
    section.page-section
        .container
            h3.news-title
                | Благочинный Невского округа иерей Дмитрий Малиновский принял участие в в заседании Районного методического объединения заместителей заведующих и старших воспитателей детских садов Невского
            .row 
                .col-lg-4.mb-5
                    img.w-100(src='assets/img/news.jpeg' alt='...')                   
                .col-lg-8.px-md-5
                    p
                        | Благочинный Невского округа, директор ЦДКО «Невский», настоятель храма апостола Петра в Весёлом посёлке, иерей Дмитрий Малиновский принял участие в заседании Районного методического объединения заместителей заведующих и старших воспитателей детских садов Невского района 29 февраля 2024.

                    p 
                        | В своем выступлении отец Дмитрий рассказал о длительном и плодотворном сотрудничестве между Центром духовного контроля и образования и детскими садами Невского округа. Он отметил ряд образовательных программ, совместных семинаров, ежегодных Рождественских чтений, а также совместные проекты с ГБДОУ № 12 и 100. Кроме того, были упомянуты мероприятия по вопросам духовно-нравственного просвещения, экскурсии для педагогов и родителей, конкурсы и фестивали для воспитанников детских садов.

                    p 
                        | Отец Дмитрий выразил надежду на дальнейшее сотрудничество и отметил, что объявленный 2024 годом семьи дает возможность обратить особое внимание на духовно-нравственное воспитание личности ребенка, который в дошкольном возрасте особенно восприимчив ко всему хорошему. Он предложил совместно знакомить детей с богатством духовного и культурного наследия.

                    p 
                        | В завершение своего выступления, иерей Дмитрий презентовал цикл семинаров для воспитателей и музыкальных руководителей детских садов, посвященных истории и традициям главных православных праздников, и пригласил группы детских садов приходить в близлежащие храмы со своими выступлениями к тому или иному празднику.