footer.footer.py-4
        .container
            .row.align-items-center
                .col-lg-4.text-lg-start
                    | Copyright &copy; Your Website 2022
                .col-lg-4.my-3.my-lg-0
                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
                        i.fab.fa-twitter
                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
                        i.fab.fa-facebook-f
                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='LinkedIn')
                        i.fab.fa-linkedin-in
                .col-lg-4.text-lg-end
                    a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                    a.link-dark.text-decoration-none(href='#!') Terms of Use


// Bootstrap core JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/core-js/3.18.1/minified.js')

// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

// Core theme JS
script(src='assets/js/app.js')

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * *                               SB Forms JS                               * *
// * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

script(src='assets/js/sb-forms.js')
