footer
    .footer-top.py-5
        .container
            .row
                .col-xl-6.col-md-4
                    .row
                        .col-xl-7
                            ul.map-section__list.p-0
                                li.map-section__phone
                                    i.fa-regular.fa-mobile
                                    a(href='tel:+78125655629') +7 812 565 56 29
                                li.map-section__adres 
                                    i.fa-regular.fa-location-dot
                                    |  СПб, ул. Типанова, 21, ТК «Питер»
                                li.map-section__metro 
                                    i.fa-regular.fa-train-subway
                                    | Московская, Звездная
                            .d-flex.justify-content-start.mt-3 Мы в :
                                    a.fa-brands.fa-vk.fs-2.ps-3(href='https://vk.com/extrasport_ru' target='_blunk')
                                    a.fa-brands.fa-youtube.fs-2.ps-3(href='https://www.youtube.com/channel/UCCUUiy9ZROCNHBmDvPF-dxw/featured' target='_blunk')

                        .col-xl-5.d-none.d-xl-block
                            ul.map-section__list.p-0
                                li.map-section__time
                                    i.fa-regular.fa-timer
                                    | &Vcy;&rcy;&iecy;&mcy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy;
                                    br
                                    |  &pcy;&ncy;&ndash;&pcy;&tcy;: &scy; 8:00 &dcy;&ocy; 22:00
                                    br
                                    |  &scy;&bcy;&ndash;&vcy;&scy;: &scy; 9:00 &dcy;&ocy; 22:00
                                li.map-section__prodag
                                    i.fa-regular.fa-user-tie-hair
                                    | &Ocy;&tcy;&dcy;&iecy;&lcy; &pcy;&rcy;&ocy;&dcy;&acy;&zhcy;:
                                    br
                                    |  &pcy;&ncy;-&vcy;&scy;: 10:00 &dcy;&ocy; 22:00
                .col-xl-6.col-md-8
                    .row.align-items-center
                        .col-lg-7
                            .call.d-flex.justify-content-evenly.py-5
                                    a(href='#callModal' data-bs-toggle='modal')
                                        .btn.btn-primary.btn-lg.fs-6
                                            i.fa-sharp.fa-solid.fa-phone-arrow-down-left.me-1
                                            | Заказать звонок
                        .col-lg-5                   
                            .footer__api.d-flex.flex-lg-column.justify-content-center
                                a.d-flex.align-items-center.justify-content-end.my-3.ps-3(href='https://itunes.apple.com/ru/app/extra-sport/id1462883244?mt=8' target='_blunk' onclick="ym(21525628, 'reachGoal', 'download_app');")
                                    p.m-0.text-end Доступно в 
                                        br 
                                        b GOOGLE PLAY
                                    i.fa-brands.fa-google-play.fs-1.ps-3

                                a.d-flex.align-items-center.justify-content-end.my-3.ps-3(href='https://play.google.com/store/apps/details?id=air.com.extrasport' target='_blunk' onclick="ym(21525628, 'reachGoal', 'download_app');")
                                    p.m-0.text-end Загрузите в 
                                        br 
                                        b APP STORE
                                    i.fa-brands.fa-app-store-ios.fs-1.ps-3 

    .footer-bottom.col-lg-12
        .container
            .row
                .col-md-4.text-md-start
                    | &copy; 2023 ExtraSport, LLC
                .col-md-8.text-md-end
                    a.me-2(href='#!' target='_blunk') Правила поведения в клубе &nbsp; |
                    a(href='#!' target='_blunk') Правовая информация


