section#about

    .bg-video-wrap
        video(src='assets/video/video-bg.mp4' loop='' muted='' autoplay='')
        .overlay.d-flex.align-items-center
            .slider.d-flex.justify-content-center.align-items-center
                .slide1 
                    a(href='#page-top') Бассейн 25 метров
                .slide2
                    a(href='#page-top') Панорамный вид
                .slide3
                    a(href='#page-top') Индивитуальный тренинг
                .slide4
                    a(href='#page-top') Беговые дорожки