section#about

    .bg-video-wrap
        video(src='assets/video/video-bg.mp4' loop='' muted='' autoplay='')
        .overlay
            .slider
                
                a.slide1.d-flex.align-items-center.justify-content-center(href='#page-top') Бассейн 25 метров
                
                a.slide2.d-flex.align-items-center.justify-content-center(href='#page-top') Панорамный вид
                
                a.slide3.d-flex.align-items-center.justify-content-center(href='#page-top') Индивитуальный тренинг
                
                a.slide4.d-flex.align-items-center.justify-content-center(href='#page-top') Беговые дорожки