section#about

    .bg-video-wrap
        video(src='../../assets/video/video-bg.mp4', loop='', muted='', autoplay='')
        .overlay.d-flex.align-items-center
            //- .about        
            //-     h1.about-title.text-uppercase О клубе Extrasport Piter
            //-     h3.about-desc Бассейн 25 метров
            .slider
                .slide1 Бассейн 25 метров
                .slide2 Панорамный вид
                .slide3 Индивитуальный тренинг
                .slide4 Беговые дорожки