section#actions.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase Акции клуба
            //- h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row.text-center
            .col-lg-4.col-md-6
                .card
                    .date-action До 31 декабря
                    img.card-img-top(src='assets/img/act_1.png' alt='...')
                    a.card-body.p-0(href='#')
                        .d-flex
                            .w-100.py-2
                                h5.card-title Чёрная пятница!!!
                                .card-text
                                    | Скидки от 50% до 80%!
                            .btn-arrow.d-flex.align-items-center
                                i.fa-sharp.fa-solid.fa-arrow-right  

            .col-lg-4.col-md-6 
                .card
                    .date-action До 31 декабря
                    img.card-img-top(src='assets/img/act_2.png' alt='...')
                    a.card-body.p-0(href='#')
                        .d-flex
                            .w-100.py-2
                                h5.card-title Чёрная пятница!!!
                                .card-text
                                    | Скидки от 50% до 80%!
                            .btn-arrow.d-flex.align-items-center
                                i.fa-sharp.fa-solid.fa-arrow-right   

            .col-lg-4
                .card
                    .date-action До 31 декабря
                    img.card-img-top(src='assets/img/act_3.png' alt='...')
                    a.card-body.p-0(href='#')
                        .d-flex
                            .w-100.py-2
                                h5.card-title Чёрная пятница!!!
                                .card-text
                                    | Скидки от 50% до 80%!
                            .btn-arrow.d-flex.align-items-center
                                i.fa-sharp.fa-solid.fa-arrow-right
        .d-flex.justify-content-center   
            a.btn.btn-primary.btn-xl(href='#')
                |Все акции
