section#actions.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase.mb-5 Акции клуба
            //- h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row.text-center
            .col-md-4
                .card
                    img.card-img-top(src='assets/img/act_1.png' alt='...')
                    a.card-body.p-0(href='#')
                        .d-flex
                            .w-100.py-2
                                h5.card-title Чёрная пятница!!!
                                .card-text
                                    | Скидки от 50% до 80%!
                            .ms-auto
                                .btn-arrow
                                    i.fa-sharp.fa-solid.fa-arrow-right  

            .col-md-4
                .card
                    img.card-img-top(src='assets/img/act_2.png' alt='...')
                    a.card-body.p-0(href='#')
                        .d-flex
                            .w-100.py-2
                                h5.card-title Чёрная пятница!!!
                                .card-text
                                    | Скидки от 50% до 80%!
                            .ms-auto
                                .btn-arrow
                                    i.fa-sharp.fa-solid.fa-arrow-right  

            .col-md-4
                .card
                    img.card-img-top(src='assets/img/act_3.png' alt='...')
                    a.card-body.p-0(href='#')
                        .d-flex
                            .w-100.py-2
                                h5.card-title Чёрная пятница!!!
                                .card-text
                                    | Скидки от 50% до 80%!
                            .ms-auto
                                .btn-arrow
                                    i.fa-sharp.fa-solid.fa-arrow-right  
