section.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase ОБЗОР КЛУБА
        atrticle 
            p
                | Extra Sport это фитнес клуб в ТК "Питер" расположен в Московском районе по улице Типанова д.21.Где есть большая удобная парковка с возможностью запарковать автомобиль на несколько часов бесплатно. Равно удален от четырех станций метро "Московская","Звездная","Парк Победы" и "Проспект Славы".

                | В клубе представлены большое количество фитнес услуг,такие как: 

                | ТРЕНАЖЕРНЫЙ ЗАЛ в котором находятся более 60-ти единиц силовых тренажеров(TECHNOGYM,HAMMER,PANATTA),несколько гантельных рядов и силовые помосты.

                | Два больших АЭРОБНЫХ ЗАЛА в которых проходят большое кол-во занятий по следующим направлениям (Силовые направления,Специальные направления,Смешанный формат,STEP-аэробика,TRX и жиросжигание,Растяжка,CYCLE,YOGA,Танцевальные ,Боевые искусства и Детские нарпавления)

            p 
                | КАРДИО ЗОНА укомплектована беговыми дорожками,эллипсами,степперами и велотренажерами.

                | ЗАЛ ФУНКЦИОНАЛЬНОГО ТРЕНИНГА со шведскими стенками и TRX петлями.

                | БАССЕЙН в котором проходят аквафитнес для детей и взрослых,школа плавания,аквааэробика и персональные тренировки для всех возрастов.

                | ЗАЛ ЕДИНОБОРСТВ с рингом и боксерскими мешками.Там проходят занятия боксом и смешенные единоборства для детей и взрослых.

                | САЙКЛ СТУДИЯ с профессиональными велотренажерами для интенсивного жиросжигания иммитирующих велогонку.

            P 
                | Отдельные ДЕТСКИЕ СЕКЦИИ для детей возраста 3+ по направлением БАСКЕТБОЛ,ХУДОЖЕСТВЕННАЯ ГИМНАСТИКА,БОКС,КАРАТЭ и ТАНЦЫ.

                | ДЕТСКАЯ КОМНАТА с воспитателем.

                | ТУРЕЦКАЯ ПАРНАЯ

                | СПА-ЗОНА с большим количеством массажа, русской парной и кедровой бочкой.

                | Кабинет АППАРАТНОЙ КОСМЕТОЛОГИИ с эстетическими процедурами (LPG- массаж,RF-лифтинг и уходовыми процедурами)