section.map-section
    #map.map-section__map 

//- script(src='https://api-maps.yandex.ru/2.0/?load=package.full&lang=?lang=ru_RU') 
script(src='http://api-maps.yandex.ru/2.1/?lang=ru_RU') 

script.
    ymaps.ready(init);
    function init () {
    var myMap = new ymaps.Map('map', {
    // При инициализации карты, обязательно нужно указать
    // ее центр и коэффициент масштабирования
    //center: [68.956833,33.067446],
    center: [59.85360052406893,30.342187441412534],
    zoom: 11,
    controls: []
    },{suppressMapOpenBlock: true});
    //myMap.controls.add('zoomControl', { top: 75, left: 5 });
    myMap.behaviors.disable('scrollZoom'); 
    var myPlacemark = new ymaps.Placemark( 
    [59.85360052406893,30.342187441412534], {
    hintContent: 'ExtraSport ТК "Питер" ул. Типанова'
    }, {
    iconLayout: 'default#image',
    iconImageHref: 'assets/img/marker.png', // картинка иконки
    iconImageSize: [57, 80], // размеры картинки
    iconImageOffset: [-28, -80] // смещение картинки
    });
    var myPlacemark2 = new ymaps.Placemark(
    [59.94624411725694,30.47463824919042], {
    hintContent: 'ExtraSport ТРЦ "Июнь" пр. Индустриальный' 
    }, {
    iconLayout: 'default#image',
    iconImageHref: 'assets/img/marker.png', // картинка иконки
    iconImageSize: [57, 80], // размеры картинки
    iconImageOffset: [-28, -80] // смещение картинки
    });
    var myPlacemark3 = new ymaps.Placemark(
    [59.86331155335777,30.405663024814658], {
    hintContent: 'ExtraSport ТК "Южный полюсь" ул. Пражская'
    }, {
    iconLayout: 'default#image',
    iconImageHref: 'assets/img/marker.png', // картинка иконки
    iconImageSize: [57, 80], // размеры картинки
    iconImageOffset: [-28, -80] // смещение картинки
    });
    var myPlacemark4 = new ymaps.Placemark(
    [60.000282385920386,30.31915328559853], {
    hintContent: 'ExtraSport Мастроса Железняка'
    }, {
    iconLayout: 'default#image',
    iconImageHref: 'assets/img/marker.png', // картинка иконки
    iconImageSize: [57, 80], // размеры картинки
    iconImageOffset: [-28, -80] // смещение картинки
    });
    var myPlacemark5 = new ymaps.Placemark(
    [60.033517089690086,30.36834735319519], {
    hintContent: 'De-vision ТРЦ «Родео Драйв» пр. Культуры'
    }, {
    iconLayout: 'default#image',
    iconImageHref: 'assets/img/marker2.png', // картинка иконки
    iconImageSize: [57, 80], // размеры картинки
    iconImageOffset: [-28, -80] // смещение картинки
    });
    myMap.geoObjects.add(myPlacemark);
    myMap.geoObjects.add(myPlacemark2);
    myMap.geoObjects.add(myPlacemark3);
    myMap.geoObjects.add(myPlacemark4);
    myMap.geoObjects.add(myPlacemark5);
    myMap.setBounds(myMap.geoObjects.getBounds());
    myPlacemark.events.add('click', function (e) { window.location.href = 'https://piter.extrasport.ru' });
    myPlacemark2.events.add('click', function (e) { window.location.href = 'https://iyun.extrasport.ru' });
    myPlacemark3.events.add('click', function (e) { window.location.href = 'https://polyus.extrasport.ru' });
    myPlacemark4.events.add('click', function (e) { window.location.href = 'https://matros.extrasport.ru' });
    myPlacemark5.events.add('click', function (e) { window.location.href = 'https://de-vision.ru' });
    }