section#actions.page-section
    .container
        .row.text-center

            .col-lg-4.col-md-6 
                a.card(href='/club.html')
                    img.card-img-top(src='assets/img/clubs/welcom-block-img-2.jpg' alt='...')
                    .card-body.p-0
                        .d-flex
                            .w-100.py-2
                                h5.card-title ТРЦ «Питер»
                                .card-text
                                    | Санкт-Петербург, ул. Типанова, 21
                            .btn-arrow.d-flex.align-items-center
                                i.fa-sharp.fa-solid.fa-arrow-right   
                                
            .col-lg-4.col-md-6
                a.card(href='/club.html')
                    img.card-img-top(src='assets/img/clubs/welcom-block-img-1.jpg' alt='...')
                    .card-body.p-0
                        .d-flex
                            .w-100.py-2
                                h5.card-title ТРЦ «Июнь»
                                .card-text
                                    | Санкт-Петербург, Индустриальный пр., 24
                            .btn-arrow.d-flex.align-items-center
                                i.fa-sharp.fa-solid.fa-arrow-right  

            .col-lg-4.col-md-6 
                a.card(href='/club.html')
                    img.card-img-top(src='assets/img/clubs/welcom-block-img-3.jpg' alt='...')
                    .card-body.p-0
                        .d-flex
                            .w-100.py-2
                                h5.card-title ТРЦ «Южный полюс»
                                .card-text
                                    | Санкт-Петербург, ул. Пражская, 48/50
                            .btn-arrow.d-flex.align-items-center
                                i.fa-sharp.fa-solid.fa-arrow-right   

            .col-lg-6.col-md-6 
                a.card(href='/club.html')
                    img.card-img-top(src='assets/img/clubs/welcom-block-img-4.jpg' alt='...')
                    .card-body.p-0
                        .d-flex
                            .w-100.py-2
                                h5.card-title «Матроса железняка»
                                .card-text
                                    | Санкт-Петербург, ул. Матроса Железняка, 57А
                            .btn-arrow.d-flex.align-items-center
                                i.fa-sharp.fa-solid.fa-arrow-right   

            .col-lg-6.col-md-12 
                a.card(href='/club.html')
                    img.card-img-top(src='assets/img/clubs/welcom-block-img-5.jpg' alt='...')
                    .card-body.p-0
                        .d-flex
                            .w-100.py-2
                                h5.card-title De-vision
                                .card-text
                                    | Санкт-Петербург, пр. Культуры, 1
                            .btn-arrow.d-flex.align-items-center
                                i.fa-sharp.fa-solid.fa-arrow-right   
