section.map-section
    .container
        .row.d-flex.justify-content-start
            .map-section__contacts
                h2.map-section__title.section-heading Контакты
                ul.map-section__list 
                    li.map-section__phone
                         i.fa-regular.fa-mobile.fs-4
                         a.fs-4(href='tel:+78125655629') +7 812 565 56 29
                        
                         //- a.popup-to.map-section__zvon(href='#zvon-popup') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;
                    li.map-section__adres 
                        i.fa-regular.fa-location-dot
                        |  СПб, ул. Типанова, 21, ТК «Питер»
                    li.map-section__metro 
                        i.fa-regular.fa-train-subway
                        | Московская, Звездная
                    li.map-section__time
                        i.fa-regular.fa-timer
                        | &Vcy;&rcy;&iecy;&mcy;&yacy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy;
                        br
                        |  &pcy;&ncy;&ndash;&pcy;&tcy;: &scy; 8:00 &dcy;&ocy; 22:00
                        br
                        |  &scy;&bcy;&ndash;&vcy;&scy;: &scy; 9:00 &dcy;&ocy; 22:00
                    li.map-section__prodag
                        i.fa-regular.fa-user-tie-hair
                        | &Ocy;&tcy;&dcy;&iecy;&lcy; &pcy;&rcy;&ocy;&dcy;&acy;&zhcy;:
                        br
                        |  &pcy;&ncy;-&vcy;&scy;: 10:00 &dcy;&ocy; 22:00
    #map.map-section__map 

//- script(src='https://api-maps.yandex.ru/2.0/?load=package.full&lang=?lang=ru_RU') 
script(src='http://api-maps.yandex.ru/2.1/?lang=ru_RU') 

script.
    ymaps.ready(init);
    function init () {
    // Создание экземпляра карты и его привязка к контейнеру с
    // заданным id ("map")
    var myMap = new ymaps.Map('map', {
    // При инициализации карты, обязательно нужно указать
    // ее центр и коэффициент масштабирования
    center: [59.85360052406893,30.342187441412534],
    zoom: 16,
    controls: []
    },{suppressMapOpenBlock: true});
    var pixelCenter = myMap.getGlobalPixelCenter();
    pixelCenter = [
    pixelCenter[0] - 200, // Смещение на 200 пикселей вправо
    pixelCenter[1]
    ];
    var geoCenter = myMap.options.get('projection').fromGlobalPixels(pixelCenter, myMap.getZoom());
    myMap.setCenter(geoCenter);
    //myMap.controls.add('zoomControl', { top: 75, left: 5 });
    //myMap.behaviors.enable('scrollZoom');
    // Создание метки
    var myPlacemark = new ymaps.Placemark(
    // Координаты метки
   [59.85360052406893,30.342187441412534], {
    // Свойства
    // Текст метки
    hintContent: 'ExtraSport'
    }, {
    iconLayout: 'default#image',
    iconImageHref: 'assets/img/marker.png', // картинка иконки
    iconImageSize: [57, 80], // размеры картинки
    iconImageOffset: [-28, -80] // смещение картинки
    });
    // Добавление метки на карту
    myMap.geoObjects.add(myPlacemark);
    }