header.masthead.d-flex.align-items-center
    .container        
        .masthead-heading.text-uppercase Сеть фитнес клубов на результат!
        .masthead-subheading Ваш клуб - ExtraSport Питер
        a.btn.btn-primary.btn-xl.text-uppercase(href='/club.html') Выберите клуб