header.masthead.d-flex.align-items-center
    .container  
        case isIndex
            when true
                .d-flex.justify-content-center
                    .col-md-6
                        img.w-100(src='assets/img/logo.svg' alt='extrasport logo')
                
        .masthead-heading.text-uppercase Сеть фитнес клубов на результат!
        case isIndex
            when true
                a.btn.btn-primary.btn-xl.text-uppercase.white(href='#actions') Выберите клуб
            default
                .masthead-subheading Ваш клуб - ExtraSport Питер