extends ../layout.pug

block main

        - var isIndex = true

        // Masthead
        include ../includes/sections/masthead 

        // Actions
        include ../includes/sections/clubs

        // Map
        include ../includes/sections/clubs-map

        // Modals
        include ../includes/components/callModal

        // Footer
        include ../includes/footer 
