extends ../layout.pug

block nav

block main

        - var isIndex = true

        // Masthead
        include ../includes/sections/masthead 

        // Actions
        include ../includes/sections/clubs

block map
        //Map
        include ../includes/sections/clubs-map
