extends ../layout.pug

block main

        - var isIndex = true
        
        // Masthead
        include ../includes/sections/masthead 

        // Actions
        include ../includes/sections/actions

        // Map
        include ../includes/sections/map

        // Modals
        include ../includes/components/callModal

        // Footer
        include ../includes/footer 
