extends ../layout.pug

block main

    // About
    include ../includes/sections/about

    section#actions.page-section
        .container
            .text-center
                h2.section-heading.text-uppercase Услуги клуба
                //- h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
            .row.text-center
                .col-md-6
                    a.card(href='#')
                        img.card-img-top(src='assets/img/service/serv-1.jpg' alt='...')
                        .card-body.p-0
                            .d-flex
                                .w-100.py-4
                                    h5.card-title ПЕРСОНАЛЬНЫЙ ТРЕНИНГ
                                .btn-arrow.d-flex.align-items-center
                                    i.fa-sharp.fa-solid.fa-arrow-right  
                .col-md-6
                    a.card(href='#')
                        img.card-img-top(src='assets/img/service/serv-2.jpg' alt='...')
                        .card-body.p-0
                            .d-flex
                                .w-100.py-4
                                    h5.card-title.text-uppercase Групповые программы
                                .btn-arrow.d-flex.align-items-center
                                    i.fa-sharp.fa-solid.fa-arrow-right  
                .col-md-6
                    a.card(href='#')
                        img.card-img-top(src='assets/img/service/serv-3.jpg' alt='...')
                        .card-body.p-0
                            .d-flex
                                .w-100.py-4
                                    h5.card-title.text-uppercase Бассейн
                                .btn-arrow.d-flex.align-items-center
                                    i.fa-sharp.fa-solid.fa-arrow-right  
                .col-md-6
                    a.card(href='#')
                        img.card-img-top(src='assets/img/service/serv-4.jpg' alt='...')
                        .card-body.p-0
                            .d-flex
                                .w-100.py-4
                                    h5.card-title.text-uppercase Детский клуб
                                .btn-arrow.d-flex.align-items-center
                                    i.fa-sharp.fa-solid.fa-arrow-right  
                .col-md-6
                    a.card(href='#')
                        img.card-img-top(src='assets/img/service/serv-5.jpg' alt='...')
                        .card-body.p-0
                            .d-flex
                                .w-100.py-4
                                    h5.card-title.text-uppercase Боевые искусства
                                .btn-arrow.d-flex.align-items-center
                                    i.fa-sharp.fa-solid.fa-arrow-right  

                

                


    // Contact
    include ../includes/sections/contacts