section#about.py-3
    .container
        .row.justify-content-center.my-5
            .col-xl-3.col-md-4.col-sm-12
                img.w-100.shadow.mb-5(src='assets/img/port.jpg' alt='...')                   
            .col-xl-6.col-md-8.col-sm-12.ps-md-5
                p
                    b Границы благочиния:
                    |  Невский район г. Санкт-Петербург

                p 
                    b Благочинный: 
                    |  иерей Димитрий Малиновский, настоятель храма апостола Петра в Весёлом посёлке

                p 
                    b Храм благочиния:
                    |  Святого Первоверховного апостола Петра

                p Целью работы благочиния является объединение православных христиан района для совместной деятельности в области различных видов служения: молодежного, социального, миссионерского, а также катехизации. 