section.map-section

    //- script(src='https://api-maps.yandex.ru/2.0/?load=package.full&lang=?lang=ru_RU') 
    script(src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad6232b8a6f3742ec3c72501949478395c205ac7aff323038e77b5b66b430e526&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true') 

