header.masthead.text-center
    .container
        .py-5
            .masthead-heading.text-uppercase НЕВСКОЕ БЛАГОЧИНИЕ
            .masthead-subheading Санкт-Петербургская епархия

        .d-flex.justify-content-center
            .masthead-img.col-xl-10
                img.w-100(src='assets/img/front.jpeg' alt='...')            

