//
// Colors
//
// $white: azure;
// Override Bootstrap color variables

$orange: #ff6600;
$black: #141416;
$black-transparency_5: #00000070;
$black-transparency_6: #00000099;
$black-transparency_8: #000000cc;
// Override Bootstrap state colors variables

$primary: $orange;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;

