//
// Buttons
//

.btn.disabled {
    background: none;
    border-color: unset;
}

// Create a new xl button variant

.btn-xl {
    font-family: $headings-font-family;
    font-size: 1.125rem;
    font-weight: $headings-font-weight;
    padding: 1.25rem 2.5rem;
}

.btn-lg {
    background: none;
    font-family: $font-family-base;
    font-size: .75rem;
    color: #ed702d;
    letter-spacing: .1rem;
    white-space: nowrap;
    border: .1em solid;
    text-transform: uppercase;
}

// Create a new social button variant

.btn-social {
    height: 2.5rem; 
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


