//
// Buttons
//

.btn.disabled {
  background: none;
  border-color: unset;
}

// Create a new xl button variant

.btn-xl {
  background: none;
  font-family: $headings-font-family;
  font-size: 1.125rem;
  font-weight: $headings-font-weight;
  padding: 0.5rem 1rem;
  color: $orange;
  white-space: nowrap;
  border: 0.1em solid;
  text-transform: uppercase;
}

.btn-lg {
  background: none;
  font-family: $headings-font-family;
  font-size: 0.75rem;
  color: $orange;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  border: 0.1em solid;
  text-transform: uppercase;
}

.btn-arrow {
  background-color: $orange;
  font-size: 3rem;
  color: $black;
  padding: 0 1rem;
}

// Create a new social button variant

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
