.modal {
    .modal-content {
        background: $gray-900;
    }

    .close-modal {
        position: absolute;
        top: .8rem;
        right: .8rem;
        width: 1.75rem;
        cursor: pointer;
        background-color: transparent;
        filter: contrast(0);
        z-index: 1;

        &:hover {
            opacity: 0.3;
        }
    }
}