//
// Global theme styling
//

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
//
// https://caniuse.com/?search=scroll-padding

body {
  background-image: url("../../assets/img/bg-pattern.png");
  color: $white;
}


//Link

a {
  text-decoration:none;
}

b {
  color: $orange;
}

// Spacing and heading styling for page sections

.page-section {
  padding: 3rem 0;

  h2.section-heading {
    margin-top: 0;
    margin-bottom: 5rem;
  }

  h3.section-subheading {
    font-size: clamp(1.25rem, 4vw, 1.5rem) ;
    font-weight: 200;
    color: $orange;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  
}

.offcanvas-size-sm {
  --#{$prefix}offcanvas-width: min(95vw, 250px) !important;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.page-link {
  background: none;
  border: none;
}