//
// Styles
//
* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}


// Import variables
@import './_variables.scss';

// Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// Global CSS
@import './_global.scss';

// Components
@import './components/_buttons.scss';
@import './components/_navbar.scss';

// Sections
@import './sections/_masthead.scss';
@import './sections/_about.scss';
@import './sections/_list.scss';
@import './sections/_news.scss';
// @import './sections/_contact.scss';
@import './sections/_map.scss'; 
@import './sections/_footer.scss';
