.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(../../assets/video/video-bg.mp4);

  video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
  }

  .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .7) 50%);
    background-size: 3px 3px;
    z-index: 2;

    .slider {
      max-width: 600px;
      margin: 20px auto;
      position: relative;
      font-size: 40px;
      text-align: center;

      .slide1,
      .slide2,
      .slide3,
      .slide4 {
        color: white;
        width: 100%;
        height: 100%;
        font-size: 4rem;
      }

      .slide1 {

        animation: fade 18s infinite;
        -webkit-animation: fade 18s infinite;

      }

      .slide2 {

        animation: fade2 19s infinite;
        -webkit-animation: fade2 19s infinite;
      }

      .slide3 {

        animation: fade3 19s infinite;
        -webkit-animation: fade3 19s infinite;
      }

      .slide4 {

        animation: fade4 19s infinite;
        -webkit-animation: fade4 19s infinite;
      }

      @keyframes fade {
        0% {
          opacity: 0
        }

        20% {
          opacity: 1
        }

        40% {
          opacity: 0
        }

        60% {
          opacity: 0
        }

        80% {
          opacity: 0
        }

        100% {
          opacity: 0
        }
      }

      @keyframes fade2 {
        0% {
          opacity: 0
        }

        20% {
          opacity: 0
        }

        40% {
          opacity: 1
        }

        60% {
          opacity: 0
        }

        80% {
          opacity: 0
        }

        100% {
          opacity: 0
        }
      }

      @keyframes fade3 {
        0% {
          opacity: 0
        }

        20% {
          opacity: 0
        }

        40% {
          opacity: 0
        }

        60% {
          opacity: 1
        }

        80% {
          opacity: 0
        }

        100% {
          opacity: 0
        }
      }

      @keyframes fade4 {
        0% {
          opacity: 0
        }

        20% {
          opacity: 0
        }

        40% {
          opacity: 0
        }

        60% {
          opacity: 0
        }

        80% {
          opacity: 1
        }

        100% {
          opacity: 0
        }
      }

    }
  }


}