section#actions {
  .card {
    background-color: $black;
    margin-bottom: 1.5rem;
    border: none;
    a {
      text-decoration: none;
    }

    .card-body:hover {
      background-color: #d95700;
      color: $white;
      .btn-arrow {
        color: $white;
      }
    }
  }
}
