section#actions { 
  a.card {
    background-color: $black-transparency_5;
    margin-bottom: 1.5rem;
    border: none;
    color: white;

    .date-action {
      font-family: $headings-font-family;
      background-color: $orange;
      padding: .5rem;
      position: absolute;
      text-align: left;
      text-transform: uppercase;
      line-height: 1.1;
      z-index: 1;
    }
    
    .card-img-top {
      opacity: .75;
    }
    &:hover {
      .card-img-top {
        opacity: 1;
      }
      .card-body {
        background-color:$orange;
        color: $white;
      .btn-arrow {
        color: $white;
      }
      }
    }
  }
}
