//
// Contact section styling
//

section#contact {
    min-height: 80vh;
    background-image: url("../../assets/img/bg_contact.jpeg");
    // background-image: url("https://i.pinimg.com/originals/a1/af/7c/a1af7cde71b512cbbd439eed44527d1c.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.6);

    .section-heading {
        color: $white;
    }

    form#contactForm {
        .form-group {
            margin-bottom: $grid-gutter-width;

            input,
            textarea {
                padding: .5rem;
            }

            input.form-control {
                height: auto;
                color: #fff;
                background-color: $black;
                padding: 1rem;
                border-bottom: 2px solid $orange;
                border-top: 0;
                border-left: 0;
                border-right: 0;
            }
        }

        .form-group-textarea {
            height: 100%;

            textarea {
                height: 100%;
                min-height: 10rem;
            }
        }

        p.help-block {
            margin: 0;
        }

        .form-control:focus {
            border-color: $primary;
            box-shadow: none;
        }

        .checkbox{
            margin-top: .5rem;
        }
        ::-webkit-input-placeholder {
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            color: $gray-400;
        }

        :-moz-placeholder {
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            color: $gray-400;
        }

        ::-moz-placeholder {
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            color: $gray-400;
        }

        :-ms-input-placeholder {
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            color: $gray-400;
        }
    }
}

