 
// Map  

.map-section {
	position: relative;
	z-index: 1;
	padding: 6rem 0;	
}

.map-section__map {
	width: 100%; 
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    opacity: .6;
	img { 
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
	}
}

.map-section__contacts {
    background-color: rgba(0, 0, 0, 0.8);
	padding: 2rem;
	z-index: 2;
}

.map-section__title {
	text-transform: uppercase;
	margin: 2rem 0;
}

.map-section__list{
	list-style: none;
	margin: 0;
}

.map-section__list li{
	padding-left: 2rem;
	margin: .75rem 0;
}

.map-section__phone {
	padding: 0 !important;
	letter-spacing: .1rem;
	font-family: $headings-font-family;
	// background: url(../img/contact-phone.png) 0 50% no-repeat;
}

.map-section__list li i{
	padding-right: 1rem;
	color: $orange;
}

.map-section__adres {
	background: url(../img/contact-adres.png) 0 50% no-repeat;
}

.map-section__metro {
	background: url(../img/contact-metro.png) 0 50% no-repeat;
}
.map-section__time {
	background: url(../img/contact-time.png) 0 50% no-repeat;
}
.map-section__prodag {
	background: url(../img/contact-prodag.png) 0 50% no-repeat;
}
.map-section__mail {
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE3LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxNCAxMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTQgMTAiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBmaWxsPSIjRkY2NjAwIiBkPSJNNywwSDB2NC43VjEwaDdoN1Y0LjdWMEg3eiBNNywxLjZoNS40djAuN0w3LDUuMkwxLjYsMi4zVjEuNkg3eiBNMTIuNCw4LjVIN0gxLjZWNC43VjRMNyw3TDEyLjQsNHYwLjZWOC41egoJIi8+Cjwvc3ZnPgo=') 0 50%/18px auto no-repeat; 
}
