//
// Masthead section styling
//

header.masthead {
    height: 100vh;
    text-align: center;
    color: $white;
    background-image: url("../../assets/img/header-bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: $black-transparency_5;

    .masthead-heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 5.25rem;
        margin-bottom: 2rem;
        font-family: $headings-font-family;
    }

    .masthead-subheading {
        font-size: 2.5rem;
        line-height: 1.5rem;
        margin-bottom: 25px;
        font-family: $headings-font-family;
        font-weight: 300;
        text-transform: uppercase; 
    }

}

@include media-breakpoint-down(sm) {
    header.masthead {

        .masthead-heading {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 3.5rem;
            margin-bottom: 4rem;
        }

        .masthead-subheading {
            font-size: 1.25rem;
            line-height: 2.25rem;
            margin-bottom: 2rem;
        }

        
    }
}
