include includes/header

    // Navigation
include includes/components/navbar

    // Masthead
include includes/sections/masthead 

    // About
include includes/sections/about 

    // Actions
include includes/sections/actions

    // Contact
include includes/sections/contacts

    // Map
include includes/sections/map

// Modals
include includes/components/callModal

// Footer
include includes/footer        

