doctype html
html(lang='en')
 
    block head
        include includes/head

body#page-top
    block nav
        // Navigation 
        include includes/components/navbar    
    
    block main

    block map
        // Map
        include includes/sections/map

    block footer
        // Modals
        include includes/components/callModal
        // Footer
        include includes/footer