//
// Masthead section styling
//

header.masthead {
    font-size: clamp(1.5rem, 6vw, 2.5rem);

    .masthead-heading {
        font-size: 1em;
        color: $orange;
        font-weight: 700;
    }

    .masthead-subheading {
        font-size: .5em;
        margin-bottom: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
    }

    .masthead-img {
        img {
            background: $orange-dark;
            padding: .5rem;
            border: $black solid;
        }
    }
 
} 
