footer#contacts
    .footer-top.py-5
        .container
            .row
                .col-md-6
                    p
                        a.fa-regular.fa-envelope.pe-1
                        | благочиния: 
                        a(href='mailto:mail@nevskoeblago.ru') mail@nevskoeblago.ru
                    p
                        a.fa-regular.fa-envelope.pe-1
                        | по направлению образования:  
                        a(href='mailto:education@nevskoeblago.ru') education@nevskoeblago.ru
                    p
                        a.fa-regular.fa-envelope.pe-1
                        | по направлению соц.работы: 
                        a(href='mailto:social@nevskoeblago.ru') social@nevskoeblago.ru                      

                .col-md-6
                    p
                        a.fa-brands.fa-vk.pe-2.fs-4
                        | благочиния: 
                        a(href='https://vk.com/nevskblagspb' target='_blunk') https://vk.com/nevskblagspb
                    p
                        a.fa-brands.fa-vk.pe-2.fs-4
                        | социального служения: 
                        a(href='https://vk.com/socialnevskoeblago' target='_blunk') https://vk.com/socialnevskoeblago
                    p
                        a.fa-brands.fa-vk.pe-2.fs-4
                        | молодёжи и миссионерское служение: 
                        a(href='https://vk.com/nevamolodaya' target='_blunk') https://vk.com/nevamolodaya



    .footer-bottom.col-lg-12
        .container
            .row
                .col-md-4.text-md-start
                    | &copy; 2024 Невское благочиние
                .col-md-8.text-md-end
                    | Разработка сайта 
                    a.text-decoration-none(href='#!' target='_blunk') Прохор Ефимов



// Bootstrap core JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/core-js/3.18.1/minified.js')

// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

// Core theme JS
script(src='assets/js/app.js')

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * *                               SB Forms JS                               * *
// * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

script(src='assets/js/sb-forms.js')