#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
    .container
        .logo 
            a.navbar-brand.d-flex.align-items-center.justify-content-center(href='#page-top')
                img(src='assets/img/logo.svg' alt='extrasport logo')
            .logo__adress.d-flex.align-items-center.justify-content-center
                i.fa-solid.fa-location-dot.pe-1 
                span.me-1 Ваш клуб:
                a.popup-to(href='#club-popup') СПб, ул. Типанова, 21, ТК «Питер» 
                    i.fa-solid.fa-chevron-down
        .call.d-lg-none.d-md-block.d-none 
            a(href='#callModal' data-bs-toggle='modal') 
                .btn.btn-primary.btn-lg
                    i.fa-sharp.fa-solid.fa-phone-arrow-down-left.me-1
                    |Обратный звонок  
        button.navbar-toggler(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasDarkNavbar' aria-controls='offcanvasDarkNavbar') 
           .d-flex.navbar-toggler.align-items-center.justify-content-center
                span МЕНЮ
                span.navbar-toggler-icon
        #offcanvasDarkNavbar.offcanvas.offcanvas-end.text-bg-dark.offcanvas-size-sm(tabindex='-1' aria-labelledby='offcanvasDarkNavbarLabel')
            .offcanvas-header
                h5#offcanvasDarkNavbarLabel.offcanvas-title EXTRASPORT ПИТЕР
                button.btn-close.btn-close-white(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
            .offcanvas-body.justify-content-center
                ul.navbar-nav.text-uppercase
                    li.nav-item
                        a.nav-link(href='#about') О клубе
                    li.nav-item
                        a.nav-link(href='#services') Услуги
                    li.nav-item
                        a.nav-link(href='#actions') Акции
                    li.nav-item
                        a.nav-link(href='#about') Цены
                    li.nav-item
                        a.nav-link(href='#team') Новости
                    li.nav-item
                        a.nav-link(href='#team') Мероприятия
                    li.nav-item
                        a.nav-link(href='#contact') Контакты

        .call.d-lg-block.d-none
            a(href='#callModal' data-bs-toggle='modal')
                .btn.btn-primary.btn-lg
                    i.fa-sharp.fa-solid.fa-phone-arrow-down-left.me-1
                    |Обратный звонок
